  * {
  margin: 0 auto;
  text-align: center;
}

/*
font-family: 'Bahiana', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Coming Soon', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Skranji', cursive;
*/

h1 {
  font-size: 80px;
  font-family: 'Permanent Marker', cursive;
  color: rgba(250, 115, 30, 0.9);
  text-shadow: 8px 8px 4px rgba(46, 15, 3, 0.9);
}

p {
  font-family: 'Gochi Hand', cursive;
  margin: 0 0 10px 2px;
  font-size: 28px;
  color: rgb(46, 15, 3);
  text-shadow: 3px 3px 5px rgba(191, 183, 177, 1);
}

button {
  width: 150px;
  height: 45px;
  margin: 0 0 30px 0;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.90);
  transform: translateY(10px);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: rgb(233, 232, 231);
  color: rgb(46, 15, 3)
}

button:hover {
  background-color: rgb(210, 244, 139);
}

.scoreboard, .levelCounter {
  margin: 5px 0 0 0;
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  color: rgb(46, 15, 3);
  text-shadow: 0px 0px 10px rgba(227, 104, 26, 1);
}

.holes {
  width: 140px;
  height: 70px;
  border-radius: 100px / 50px;
  margin: 50px 0 0 0;
  position: relative;
  display: inline-flex;
  background-color: rgb(29, 14, 2);
  box-shadow: inset -12px 20px 50px rgb(80, 37, 2);
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  color: rgb(233, 232, 231);
}

.holeBackground {
  width: 140px;
  height: 140px;
  z-index: 4;
  float: left;
  position: absolute;
  border-radius: 100px / 50px;
  overflow: hidden;
  bottom: 0px;
  left: 0;
  /*background-color: white;*/
}

.mole {
  width: 130px;
  height: 120px;
  display: inline-flex;
  position: absolute;;
  bottom: 0;
  left: 1px;
  transition: bottom 0.3s linear;
  z-index: 5;
}

.mole.hidden {
  /*display: none;*/
  transition: bottom 0.3s linear;
	bottom: -90%;
}

.ouch {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 50px;
  z-index: 6;
}

.ouch.hidden {
  display: none;
}
